extends layout

block content
  div#albums
    h1= title
    - var n = 0;
    - var limit = 100;
    div.content
      div.top-content
        .links
          while n < limit 
              a(class='albumList' href='#'+data[n].id)
                =data[n].title
                - n++
        
        div#images
          ul
      div#big-image
