extends layout

block content
  div#albums
    h1= title
    - var n = 0;
    - var limit = 10;
    div.content
      div.top-content
        while n < limit 
              a(class='albumList' href='#'+data[n].id)
                span= data[n].title
                br
                - n++
        
        div#images
      div#big-image
