extends layout

block content
  h1= title
  p Welcome to #{title}
  - var n = 0;
  - var limit = 10;
    while n < limit 
          a(class='albumList' href='#'+data[n].id)
            span= data[n].title
            br
            - n++
    
    div#images
    div#bigImage
