extends layout

block content
  div#login
    .login-content
      h1= title
      if status === 401
        div.alert
          b= error
      form(action="/login" method="POST")
            label#email
              span
                |Email:
              input#email(type="email", name="email", placeholder="Type your email", required)
            label#password
              span
                |Password:
              input#password(type="password", name="password", placeholder="Type your password", required)
            button(type="submit")
              |Login
