extends layout

block content
  h1= title
  if status === 401
    div
      span= error
  form(action="/login" method="POST")
    p
        |Email: 
        input#email(type="email", name="email", placeholder="Email", required)
        br
        br
        |password: 
        input#password(type="password", name="password", placeholder="password", required)
        br
        br
        input#submit(type="submit")
